<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
 
<h1>Student List</h1>
<a th:href="@{/newStudent}">New Student</a>  
<table border="2">
<thead>
<th>Picture</th>
<th>Names</th>
<th>Phone</th>
<th>Email</th>
<th>Gender</th>
</thead>
<tbody>
<tr th:each="student : ${allStudent}">
<th scope="row"> <img alt="" th:src="*{'data:image/jpeg;base64,'+{student.photo}}" style="width: 100px;height: 100px;"> </th>
<td>[[*{student.names}]]</td>
<td>[[*{student.phone}]]</td>
<td>[[*{student.email}]]</td>
<td>[[*{student.gender}]]</td>
</tr>
</tbody>
</table>

<h1>Faculty list</h1>
<a th:href="@{/newFaculty}">New Faculty</a>
<table border="2">
<thead>
<th>ID</th>
<th>FACULTY NAME</th>
</thead>
<tbody>
<tr th:each="faculty : ${facultylist}">
<td>[[*{faculty.id}]]</td>
<td>[[*{faculty.facultyname}]]</td>
</tr>
</tbody>
</table>
</body>
</html>